<a href="https://colab.research.google.com/github/Anurag-0-1-A/My-Assignments/blob/master/iNeuron_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()**

In [3]:
def myreduce(fun, alist):
    x = alist[0]
    
    for i in range(1, len(alist)):
        x = fun(x, alist[i])
    
    return x

def summ(x1, x2):
    return x1 + x2

def Product(x1, x2):
    return(x1 * x2)

a = [1, 2, 3, 4, 5]

print("Sum of all element in list a :", myreduce(summ, a))
print("Product of all elements in list a :", myreduce(Product, a))

Sum of all element in list a : 15
Product of all elements in list a : 120

**1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()**

In [4]:
def myfilter(fun, alist):
    x = []
    y = []
    
    for i in alist:
        x.append(fun(i))
    
    for i in range(0, len(x)):
        
        if x[i] == False:
            continue
        
        else:
            y.append(x[i])
    
    return y
        
def multiple_five(i):
    
    if i%5==0:
        return i
    
    else:
        return False

def odd_number(i):
    if i%2 == 1:
        return i
    else:
        return False

print(myfilter(multiple_five, [2, 5, 6, 4, 10, 15, 12, 35, 124, 120]))
print(myfilter(odd_number,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[5, 10, 15, 35, 120]
[1, 3, 5, 7, 9]

**2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists**


['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [5]:
nlist=[]
mlist=['x','y','z']
nlist=[ i*j for i in mlist for j in range(1,5)]
print(nlist)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [6]:
nlist=[]
mlist=['x','y','z']
nlist=[j*i for i in range(1,5) for j in mlist]
print(nlist)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [7]:
nlist = [[i+j] for i in range(2,5) for j in range(3)]
nlist

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [8]:
ylist=[[(i+j)for j in range(0,4)] for i in range(2,6)]
ylist

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [9]:
xlist=[(j,i) for i in range(1,4) for j in range(1,4)]
xlist

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [10]:
'''nlist=[]
mlist=['x','y','z']
def multi(mlist):
  for i in mlist:
    for j in range(1,5):
      nlist.append(i*j)
  print(nlist)'''

"nlist=[]\nmlist=['x','y','z']\ndef multi(mlist):\n  for i in mlist:\n    for j in range(1,5):\n      nlist.append(i*j)\n  print(nlist)"

In [11]:
'''multi(mlist)'''

'multi(mlist)'

In [12]:
'''nlist=[]
mlist=['x','y','z']
def multi2(mlist):
  for i in range(1,5):
    for j in mlist:
    
      nlist.append(j*i)

  print(nlist)'''

"nlist=[]\nmlist=['x','y','z']\ndef multi2(mlist):\n  for i in range(1,5):\n    for j in mlist:\n    \n      nlist.append(j*i)\n\n  print(nlist)"

In [13]:
'''multi2(mlist)'''

'multi2(mlist)'

In [14]:
#mlist=[1,2,3,4,5,6]
#mlist[0:3:]
'''
for i in range(2,5):
  for j in range(3):
    print([i+j])
'''  
#mlist[1:4:]
#mlist[2:5:]

'\nfor i in range(2,5):\n  for j in range(3):\n    print([i+j])\n'

In [15]:
#1,2,3,4,5,6,7,8
'''xlist=[]
ylist=[]
for i in range(2,6):
  for j in range(0,4):
    xlist.append(i+j)
  ylist.append(xlist)
  xlist=[]
  
ylist
'''

'xlist=[]\nylist=[]\nfor i in range(2,6):\n  for j in range(0,4):\n    xlist.append(i+j)\n  ylist.append(xlist)\n  xlist=[]\n  \nylist\n'